@import './variables';
@import './home';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    scroll-behavior: smooth;

    @media (max-width: 575.98px) {
        font-size: 12px;
    }

    @media (min-width: 576px) and (max-width: 991.98px) {
        font-size: 16px;
    }

    @media (min-width: 992px) and (max-width: 1299.98px) {
        font-size: 12px;
    }

    @media (min-width: 1300px) and (max-width: 1599.98px) {
        font-size: 16px;
    }

    @media (min-width: 2500px) {
        font-size: 24px;
    }

    @media (max-width: 320px) {
        font-size: 9px;
    }

    @media (min-width: 321px) and (max-width: 376px) {
        font-size: 10px;
    }
}

body {
    font-family: $font1;
    font-weight: 400;
    background-color: $white;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    margin: 0;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a,
select,
input,
textarea,
button {
    outline: none !important;
}

.btn:focus,
.btn.focus,
.form-control:focus {
    outline: 0;
    box-shadow: none;
}

.btn-link:focus,
.btn-link.focus {
    text-decoration: none;
}

.container {
    @media (min-width: 576px) and (max-width: 767.98px) {
        max-width: 720px;
    }

    @media (min-width: 1200px) and (max-width: 1299.98px) {
        max-width: 960px;
    }

    @media (min-width: 1300px) and (max-width: 1599.98px) {
        max-width: 80rem;
    }

    @media (min-width: 1600px) and (max-width: 2499.99px) {
        max-width: 85rem;
    }

    @media (min-width: 2500px) {
        max-width: 90rem;
    }
}